@import '../../variables.scss';

@mixin text-button-default {
    min-width: 64px;
    height: 36px;
    text-transform: uppercase;
    box-shadow: ui-shadow('2dp');
    transition: all 280ms ease;
    border-radius: 4px;

    &:active {
        box-shadow: ui-shadow('8dp');
    }
}

.md-button {
    display: inline-flex;
    background-color: transparent;
    font-size: 14px;
    outline: none;
    user-select: none;
    background-color: #FFF;
    color: #000;
    align-items: center;
    cursor: pointer;

    label {
        cursor: pointer;
    }
    
    &.text-button {
        padding: 0 16px;
        @include text-button-default();
    }

    &.text-icon-button {
        @include text-button-default();
        padding: 0 16px 0 12px;

        i {
            margin-right: 8px;
        }
    }

    &.not-raised {
        box-shadow: none;

        &:active {
            background-color: rgba(0,0,0,.08);
        }
    }

    &.icon-button {
        padding: 12px;
    }
}