.ui-s600 {
    .title-container {
        padding-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .fab-container {
        width: 56px;
        position: absolute;
        bottom: 16px;
        right: 16px;

        .ui-card-title {
            /deep/ button {
                transition: all 280ms ease;

                &:hover {
                    background-color: rgba(0,0,0,.12);
                }
            }
        }
    }

    .category-container {
        div.ui-card {
            margin-top: 16px;
            display: flex;
            position: relative;

            &:first-child  {
                margin-top: 32px;
            }

            .category-color {
                width: 5px;
                height: auto;
                background-color: #000;
                display: block;
                border-radius: 4px 0 0 4px;
            }

            .ui-card-content {
                display: flex; 
                flex: 1; 
                
                .category-container {
                    display: flex;
                    align-items: center;
                    margin-right: 16px;
                    width: 80px;

                    .category-name {
                        text-transform: uppercase;
                        font-weight: 500;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                
                .info-task {
                    flex: 1;

                    .title {
                        font-size: 20px;
                        text-transform: uppercase;
                    }
    
                    .description {
                        font-size: 14px;
                        color: rgba(0,0,0,.54);
                    }
                }

                .date-container {
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    margin-left: 16px;
                    text-align: center;
                }
            }

            .overlay-actions {
                width: 100%;
                position: absolute;
                height: 100%;
                border-radius: 4px;
                background-color: rgba(0,0,0,0.85);
                display: flex;
                align-items: center;
                justify-content: flex-end;
                left: 0;
                top: 0;
                
                button {
                    margin-right: 16px;
                    transition: all 280ms ease;

                    &:hover {
                        background-color: rgba(255,255,255,.12) !important;
                    }
                }
            }
        }
    }
}

.filter-enter {
    transform: scale(0.8) translateY(-16px);
    opacity: 0;

    &.filter-enter-active {
        transform: scale(1) translateY(0);
        opacity: 1;
        transition: all 280ms cubic-bezier(0.0, 0.0, 0.2, 1);
    }
}
  
.filter-leave {
    transform: scale(1) translateY(0);
    opacity: 1;

    &.filter-leave-active {
        transform: scale(0.8) translateY(-16px);
        opacity: 0;
        transition: all 280ms cubic-bezier(0.0, 0.0, 0.2, 1);
    }
}
  
.overlay-enter {
    opacity: 0.01;

    &.overlay-enter-active {
        opacity: 1;
        transition: opacity 280ms ease;
    }
}

.overlay-leave {
    opacity: 1;
    transition: opacity 280ms ease;

    &.overlay-leave-active {
        opacity: 0;
    }
}