@import '../shared.scss';
@import '../../variables.scss';

.text-field-wrap {
    width: 100%;
    flex: 1;
    font-size: 14px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px 0;
    margin-bottom: 16px;

    label {
        position: absolute;
        left: 13px;
        font-size: 14px;
        user-select: none;
        background-color: #fff;
        pointer-events: none;
        transition: all 150ms ease;
    }

    .md-input {
        border: 2px solid rgba(0,0,0,.32);
        border-radius: 4px;
        padding: 7px 11px;
        height: 34px;
        width: 100%;
        transition: all 150ms ease;

        &::-webkit-datetime-edit {
            color: transparent; 
        }

        &:focus, &.elevate {
            padding: 6px 10px;

            & + label {
                transform: translateY(-16px);
                font-size: 12px;
                left: 6px;
                padding: 0 6px;
            }

            &::-webkit-datetime-edit {
                color: #000; 
            }
        }

        &:focus {
            border-color: $primary;

            & + label {
                color: $primary;                
            }
        }
    }
}


